# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Complex/v15/.suo
.vs/Complex/v15/Browse.VC.db
.vs/Complex/v15/Browse.VC.opendb
.vs/Complex/v15/ipch/AutoPCH/564b735d93eddcbf/COMPLEX.ipch
.vs/Complex/v15/ipch/AutoPCH/8cb4aa9bec6fb04c/COMPLEX.ipch
.vs/Complex/v15/ipch/AutoPCH/ce30270de9386487/MAIN.ipch
Complex/Debug/Complex.log
Complex/Debug/Complex.tlog/CL.command.1.tlog
Complex/Debug/Complex.tlog/CL.read.1.tlog
Complex/Debug/Complex.tlog/CL.write.1.tlog
Complex/Debug/Complex.tlog/Complex.lastbuildstate
Complex/Debug/Complex.tlog/link.command.1.tlog
Complex/Debug/Complex.tlog/link.read.1.tlog
Complex/Debug/vc141.idb
Complex/Debug/vc141.pdb
Complex/Debug/Complex.tlog/link.write.1.tlog
Debug/Complex.ilk
*.ipch
*.pdb
*.pdb
*.pdb
